PORT=3000
NODE_ENV=development

# Local (via docker-compose) :
DATABASE_URL=postgresql://dbc:dbc@localhost:5433/dbc_dev
REDIS_URL=redis://localhost:6379

JWT_SECRET=remplace-moi-par-une-valeur-aleatoire-longue
PAIEMENTS_WEBHOOK_SECRET=remplace-moi-par-une-valeur-aleatoire-longue
ADMIN_SECRET=remplace-moi-par-une-valeur-aleatoire-longue
